# /opt/
containerd

# Dockge
dockge/data/

# Factorio
factorio/bin
factorio/data/*
!factorio/data/server-settings.json
factorio/mods/*.zip
factorio/saves
factorio/temp
factorio/update

# Homer
homer/assets/*
stacks/homer/assets/
homer/Dashboard-Icons-main/

# Mac
.DS_Store
._.DS_Store

# Windows
Thumbs.db

# vi & vscode
*~
._compose.yaml

# General
*.bak
*.backup
*.storage
*.env
log/
*.log
*.log.*
*.old
*.zip
*.tar.gz
*.db
*.db-wal
*.db-shm
*.sql
*.sqlite
